#mapid {
    height: 500px;
    width: $("#mapid").width();
}

div.coloured-bg {
    background-color: #808080;
}

div.fill-red {
    background-color: red;
}

div.fill-green {
    background-color: green;
}
div.fill-blue {
    background-color: blue;
}

div.hh {
    height: 200px;
}

.popup {
    border: 1%;
    margin-bottom: 2%;
    text-align: center;
}
 
.popup img {
    width: 250px;
}

.leaflet-popup-content-wrapper {
    background: transparent;
    text-shadow: 1px 1px 16px #000000;
}